:root {

  --color-1: #2a363b;
  --color-1-light: #384144;
  --color-2: #e84a5f;
  --color-3: #ff847c;
  --color-4: #fecea8;
  --color-5: #242d31;
  --color-6: #727a80;
  --color-5-dark: #1e2629;

  --color-2-op: #e84a5fe5;
  --color-3-op: #ff857c75;
}


html,
body {
  margin: 0;
}


* {
  box-sizing: border-box;

}

@keyframes blink-traveling {
  0% {
    border: 0.8px solid transparent;
  }

  50% {
    border: 0.8px solid orange;
  }
}


// show ALWAYAS spinner buttons (not only on hoce - Chrome)
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}