:root {

  --color-1: #2a363b;
  --color-1-light: #384144;
  --color-2: #e84a5f;
  --color-3: #ff847c;
  --color-4: #fecea8;

  --color-2-op: #e84a5fe5;
  --color-3-op: #ff857c75;
}


html,
body {
  margin: 0;
}


* {
  box-sizing: border-box;

}

@keyframes blink-traveling {
  50% {
    border: 0.8px solid red;
  }
}

@keyframes blink-arrived {
  25% {
    border: 0.8px solid green;
  }

  30% {
    border: 0.8px solid transparent
  }

  35% {
    border: 0.8px solid green;
  }

  50% {
    border: 0.8px solid transparent
  }

  55% {
    border: 0.8px green;
  }



  100% {
    border: 0.8px solid transparent
  }

}